{%extends 'base.html'%}
{%block content%}


{% if not user.is_authenticated%}
<div class="col-md-6 offset-md-3">
<h1>
    Login Form
</h1>
<br> 
<form action="{%url 'home'%}" method='POST'>
    {%csrf_token%}
   
  <div class="mb-3">
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"placeholder='Username' name = 'username'>
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</labl>
  </div>
  <button type="submit" class="btn btn-secondary">Login</button>

</form>
</div>
{%else%}
    <div>
      <h1> Welcome {{user.username}}</h1>
    </div>
{%endif%}
{%endblock%}